.container {
	width: 100%;
	margin: 30px 0;
	color: #fff;
	background-color: #2b2d42;
}

.mailContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1em;
	width: 100%;
	gap: 15px;
	max-width: 1200px;
	margin: 0 auto;
}

.mailInputContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.mailTitle {
	font-size: 2.2rem;
}

.mailDesc {
	font-size: 1.7rem;
}

.mailInputContainer input {
	height: 30px;
}
.mailInputContainer button {
	height: 30px;
	color: #fff;
	background-color: #8d99ae;
	font-weight: bold;
	transition: color 0.3s;
}

.mailInputContainer button:hover {
	color: #2b2d42;
}

@media (min-width: 576px){
    
.mailInputContainer {
	flex-direction: row;
}

.mailInputContainer button {
width: 180px;
}
}