.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px;
}

.buttonLogin {

	width: 90px;
	color: #2b2d42;
	background-color: transparent;
	font-weight: bold;
	transition: color 0.3s;
	margin: 10px;
}

.buttonLogin:hover {
	color: #8d99ae;
}

.buttonRegister {
	width: 90px;
	color: #fff;
	padding: 1em;
	border-radius: 25px;
	background-color: #2b2d42;
	font-weight: bold;
	transition: color 0.3s;
}

.buttonRegister:hover {
	color: #8d99ae;
}

@media (min-width: 992px) {
	.container {
		flex-direction: row;
		margin-left: 10px;
	}
}
